.navigation {
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center; 
}

.statistics {
    margin: 0 30px;
}

.svg {
    width: 44px;
    height: 44px;
}

.imgText {
    display: none;
}

@media screen and (min-width:768px) {
    .navigation {
        padding-left: 32px;
        margin-top: 42px;
        margin-bottom: 29px;
        flex-direction: column;
    }

    .statistics {
        margin: 0;
        margin-top: 12px;
    }

    .currency {
        display: none;
    }

    .svg {
        width: 24px;
        height: 24px;
    }

    .imgText {
        display: block;
        margin-left: 20px;
    }

    .link {
        display: flex;
        flex-direction: row;
    }
}





